@charset 'UTF-8';

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(44, 255, 44);
}

h1#principal {
    text-align: center;
}

h2 {
    color: rgb(2, 74, 2);
}

.basico {
    color: rgb(239, 28, 28);
}

.intermediario {
    color: rgb(61, 4, 114);
}

.avancado {
    color: rgb(114, 2, 2);
}