  @charset "UTF-8";

   body {
     background-color: rgb(170, 255, 0);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
   }
   H1 {
    color: chocolate;
   }
   H2 {
    color: darkblue;
   }
   p {
    text-align: justify;
   }
