@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #00A3A8, #d816ff, #1a6fe7)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
     box-shadow: 20px 20px  20px black;
    margin: auto;
    border-radius: 10px;
   
}

p {

    text-align: justify;
} 

h1 {
    color: #3C0094;
    text-align: center;
    text-shadow: 3px 2px 0 black;
}

h2 {
   color: #360187;
}